.page-main {
  display: flex; }

.page-main__left-sidebar {
  margin-right: 18px; }

.page-main__user-content {
  margin-right: 18px; }

.left-sidebar {
  width: 192px; }
  .left-sidebar .user__name {
    color: #262626;
    font-weight: normal; }

.left-sidebar__user {
  margin-bottom: 13px; }

.left-sidebar__shortcuts {
  margin-bottom: 13px; }

.user-nav__item {
  max-width: 192px;
  padding: 5px 8px; }
  .user-nav__item:hover {
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer; }

.user-nav__link {
  display: flex;
  align-items: center;
  color: #595959; }
  .user-nav__link:hover {
    color: #262626;
    font-weight: 600; }

.user-nav__icon {
  margin-right: 8px;
  fill: #1890ff; }

.shortcuts__title {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600; }

.shortcuts__item {
  max-width: 192px;
  padding: 5px 8px; }
  .shortcuts__item:hover {
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer; }

.shortcuts__link {
  display: flex;
  align-items: center;
  color: #595959; }
  .shortcuts__link:hover {
    color: #262626;
    font-weight: 600; }

.shortcuts__icon {
  margin-right: 8px;
  fill: #1890ff; }

.explore__title {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600; }

.explore__item {
  max-width: 192px;
  padding: 5px 8px; }
  .explore__item:hover {
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer; }

.explore__link {
  display: flex;
  align-items: center;
  color: #595959; }
  .explore__link:hover {
    color: #262626;
    font-weight: 600; }

.explore__icon {
  margin-right: 8px;
  fill: #1890ff; }

.user-content {
  max-width: 588px; }

.user-content__new-post {
  margin-bottom: 16px; }

.user-content__post {
  margin-bottom: 16px; }

.new-post {
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px; }

.new-post__title {
  font-size: 14px;
  font-weight: 600;
  color: #595959;
  padding: 9px 16px;
  background-color: #e5e5e5;
  border-bottom: 1px solid #d9d9d9;
  margin: 0; }

.new-post__textarea {
  width: 95%;
  min-height: 75px;
  border-bottom: 1px solid #e8e8e8;
  resize: none;
  display: block;
  margin: 0 auto;
  /* background: url("../img/user.png") no-repeat; */
  background-position: 5px 5px;
  position: relative;
  padding: 18px 65px; }

.new-post__buttons {
  padding: 16px; }

.new-post__btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 48px;
  margin-right: 8px;
  cursor: pointer; }

.new-post__icon {
  margin-right: 8px; }

.post {
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px;
  padding-bottom: 8px; }
  .post .user {
    align-items: start; }
  .post .user__name {
    font-size: 14px;
    font-weight: 600;
    color: #0050b3; }
  .post .user__photo {
    width: 48px;
    margin-right: 12px; }
  .post .user__info {
    min-width: 150px;
    display: flex;
    flex-direction: column; }
  .post .user__set {
    max-width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .post .user__span {
    color: #8c8c8c;
    display: flex;
    align-items: center; }
    .post .user__span::after {
      display: inline-flex;
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #8c8c8c;
      margin-left: 9px; }
  .post .user__icon {
    fill: #8c8c8c;
    align-self: flex-end;
    cursor: pointer; }

.post__user {
  margin-bottom: 16px; }

.post__content {
  margin-bottom: 16px; }

.post__text {
  color: #595959;
  margin-bottom: 16px; }

.post__link {
  color: #096dd9; }

.post__likes {
  max-width: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between; }

.post__likes-counter {
  color: #8c8c8c; }

.post__likes-icon {
  fill: #1890ff;
  margin: auto; }

.post__likes-btn {
  width: 30px;
  height: 16px;
  background-color: transparent;
  cursor: pointer; }

.post-footer__btn {
  background-color: transparent;
  cursor: pointer; }

.post-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  padding: 10px 60px;
  padding-bottom: 0; }

.post-footer__item {
  display: flex; }

.post-footer__icon {
  fill: #595959;
  margin-right: 10px; }

.post-footer__text {
  color: #595959; }

.right-sidebar {
  width: 384px; }

.right-sidebar__stories {
  margin-bottom: 16px; }

.stories {
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 24px; }

.stories__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px; }

.stories__title {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
  margin-right: auto; }

.stories__link {
  color: #0050b3;
  display: flex;
  align-items: center; }

.stories__link:not(:last-child) {
  margin-right: 13px; }
  .stories__link:not(:last-child)::after {
    display: inline-flex;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #8c8c8c;
    margin-left: 15px; }

.stories__icon {
  fill: #0050b3;
  margin-right: 5px; }

.stories__add,
.stories__item {
  display: flex;
  margin-bottom: 16px; }

.stories__add-btn {
  width: 48px;
  height: 48px;
  /* background: url("/img/add-stories.png") no-repeat; */
  cursor: pointer;
  margin-right: 12px; }

.stories__add-link,
.stories__item-link {
  font-size: 14px;
  font-weight: 600;
  color: #0050b3; }

.stories__add-text,
.stories__item-text {
  color: #8c8c8c; }

.stories__item-img {
  margin-right: 12px; }

.stories__list + .stories__link {
  margin-left: 6px; }
  .stories__list + .stories__link::before {
    content: "";
    border: 6px solid transparent;
    border-top: 6px solid #8c8c8c;
    margin-right: 10px;
    cursor: pointer; }

.birthday {
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 24px;
  display: flex;
  align-items: center; }

.birthday__link {
  font-size: 14px;
  font-weight: 600;
  color: #0050b3; }

.birthday__span {
  color: #595959; }

.birthday__icon {
  margin-right: 8px; }
    